.androidAppBackPlantImageIcon {
  position: absolute;
  top: 220px;
  left: 969px;
  width: 471px;
  height: 663.05px;
  object-fit: cover;
  mix-blend-mode: luminosity;
}
.aboutApp {
  position: absolute;
  height: 2.7%;
  width: 7.36%;
  top: 5.29%;
  left: 25.76%;
  font-weight: 800;
  font-family: var(--font-noto-looped-thai);
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.homeScreenChild {
  position: absolute;
  top: 1026px;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(171, 171, 171, 0.08),
    rgba(255, 255, 255, 0)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(35px);
  width: 1440px;
  height: 751px;
  mix-blend-mode: normal;
}
.contacts,
.howItWorks,
.reviews {
  position: absolute;
  height: 2.7%;
  width: 9.24%;
  top: 5.29%;
  left: 36.6%;
  font-weight: 800;
  font-family: var(--font-noto-looped-thai);
  text-align: center;
  display: inline-block;
}
.contacts,
.reviews {
  width: 6.32%;
  left: 49.31%;
}
.contacts {
  height: 2.53%;
  width: 6.25%;
  left: 59.1%;
}
.downloadAppRectangle {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-antiquewhite-100);
  position: absolute;
  top: 87px;
  left: 1194px;
  border-radius: var(--br-mini);
  width: 167px;
  height: 43px;
}
.findOutMoreRectangle,
.getStartedRectangle,
.loginSignupRectangle {
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 714px;
  border-radius: var(--br-mini);
  width: 180px;
  height: 55px;
}
.getStartedRectangle {
  border: 0;
  background-color: var(--color-antiquewhite-100);
  left: 77px;
}
.findOutMoreRectangle,
.loginSignupRectangle {
  border: 2px solid var(--color-antiquewhite-600);
  background-color: var(--color-darkslategray-300);
  left: 307px;
  box-sizing: border-box;
}
.loginSignupRectangle {
  top: 88px;
  left: 983px;
  width: 142px;
  height: 43px;
}
.downloadApp,
.findOutMore,
.getStarted {
  position: absolute;
  display: inline-block;
  text-align: center;
}
.downloadApp {
  height: 1.52%;
  width: 8.06%;
  top: 5.35%;
  left: 84.72%;
  font-weight: 800;
  font-family: var(--font-noto-looped-thai);
  color: var(--color-darkslategray-300);
}
.findOutMore,
.getStarted {
  height: 0.84%;
  top: 41.31%;
  letter-spacing: -0.03em;
}
.getStarted {
  width: 5.56%;
  left: 8.82%;
  color: var(--color-darkslategray-300);
}
.findOutMore {
  width: 6.88%;
  left: 24.1%;
}
.plantu {
  font-weight: 800;
  font-family: var(--font-almarai);
  color: rgba(237, 230, 205, 0.9);
}
.isSomethingUnbelievable {
  font-family: var(--font-almarai);
  color: var(--color-antiquewhite-500);
}
.imageProcessingAlgorithmsAr {
  margin: 0;
}
.imageProcessingAlgorithmsContainer {
  position: absolute;
  width: 43.75%;
  top: 30.11%;
  left: 5.35%;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  line-height: 35px;
  display: inline-block;
  color: var(--color-antiquewhite-500);
}
.downRect04 {
  position: absolute;
  top: 1345px;
  left: 1071px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-500);
  box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.1);
  width: 288px;
  height: 267px;
  mix-blend-mode: normal;
}
.inAdditionToContainer {
  position: absolute;
  width: 17.5%;
  top: 83.12%;
  left: 75.63%;
  font-size: var(--font-size-mini);
  letter-spacing: 0.03em;
  line-height: 25px;
  color: var(--color-antiquewhite-600);
  display: inline-block;
}
.downRect03 {
  position: absolute;
  top: 1345px;
  left: 741px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-500);
  box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.1);
  width: 288px;
  height: 267px;
  mix-blend-mode: normal;
}
.thanksToUsContainer {
  position: absolute;
  width: 17.5%;
  top: 83.12%;
  left: 52.71%;
  font-size: var(--font-size-mini);
  letter-spacing: 0.03em;
  line-height: 25px;
  color: var(--color-antiquewhite-600);
  display: inline-block;
}
.downRect01 {
  position: absolute;
  top: 1345px;
  left: 82px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-500);
  box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.1);
  width: 288px;
  height: 267px;
  mix-blend-mode: normal;
}
.dailyRemindersInContainer {
  position: absolute;
  width: 15.69%;
  top: 83.12%;
  left: 7.85%;
  font-size: var(--font-size-mini);
  letter-spacing: 0.03em;
  line-height: 25px;
  color: var(--color-antiquewhite-600);
  display: inline-block;
}
.insideRectDown01Icon {
  position: absolute;
  height: 2.93%;
  width: 3.61%;
  top: 77.21%;
  right: 82.5%;
  bottom: 19.86%;
  left: 13.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.androidAppRectangle {
  position: absolute;
  top: 214px;
  left: 937px;
  border-radius: var(--br-16xl);
  background-color: var(--color-darkslategray-400);
  box-shadow: 0 10px 25px rgba(15, 49, 43, 0.15);
  border: 8px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 328px;
  height: 611px;
}
.downRect02 {
  position: absolute;
  top: 1345px;
  left: 411px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-500);
  box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.1);
  width: 288px;
  height: 267px;
  mix-blend-mode: normal;
}
.thanksToUseful {
  position: absolute;
  width: 17.5%;
  top: 83.12%;
  left: 29.79%;
  font-size: var(--font-size-mini);
  letter-spacing: 0.03em;
  line-height: 25px;
  color: var(--color-antiquewhite-600);
  display: inline-block;
}
.leafIconDownInsideRect04,
.leafInsideRectDownIcon {
  position: absolute;
  height: 2.07%;
  width: 2.56%;
  top: 77.83%;
  right: 14.32%;
  bottom: 20.1%;
  left: 83.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.leafInsideRectDownIcon {
  height: 1.56%;
  width: 1.86%;
  top: 78.05%;
  right: 83.35%;
  bottom: 20.39%;
  left: 14.79%;
}
.dailyPlants {
  position: absolute;
  top: 1409px;
  left: 169px;
  font-size: var(--font-size-8xl);
  line-height: 80px;
  font-family: var(--font-sree-krushnadevaraya);
  display: inline-block;
  width: 126px;
}
.dailyPlants1,
.myPlants {
  left: 965px;
  font-size: var(--font-size-6xl);
}
.dailyPlants1 {
  position: absolute;
  top: 343px;
  line-height: 80px;
  font-family: var(--font-sree-krushnadevaraya);
  display: inline-block;
  width: 129px;
}
.myPlants {
  top: 563px;
  width: 115px;
  height: 70px;
}
.hiUsama,
.indoorPlants,
.myPlants,
.plantGrowth,
.plantRecognition {
  position: absolute;
  line-height: 80px;
  font-family: var(--font-sree-krushnadevaraya);
  display: inline-block;
}
.hiUsama {
  top: 238px;
  left: 965px;
  font-size: var(--font-size-6xl);
  width: 115px;
  height: 56px;
}
.indoorPlants,
.plantGrowth,
.plantRecognition {
  font-size: var(--font-size-8xl);
}
.indoorPlants {
  top: 1408px;
  left: 491px;
  width: 150px;
  height: 47px;
}
.plantGrowth,
.plantRecognition {
  top: 1409px;
  left: 824px;
  width: 135px;
}
.plantRecognition {
  top: 1408px;
  left: 1134px;
  width: 180px;
}
.homeIconDownInsideRect02,
.iconInsideRect03Down,
.leafInsideHomeIcon,
.logoVectorIcon {
  position: absolute;
  height: 2.81%;
  width: 3.4%;
  top: 77.38%;
  right: 59.72%;
  bottom: 19.81%;
  left: 36.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconInsideRect03Down,
.leafInsideHomeIcon,
.logoVectorIcon {
  height: 1.46%;
  width: 1.08%;
  top: 78.58%;
  right: 60.83%;
  bottom: 19.96%;
  left: 38.09%;
}
.iconInsideRect03Down,
.logoVectorIcon {
  height: 2.53%;
  width: 3.4%;
  top: 77.83%;
  right: 37.15%;
  bottom: 19.64%;
  left: 59.44%;
}
.logoVectorIcon {
  height: 6.75%;
  width: 12.08%;
  top: 2.7%;
  right: 82.36%;
  bottom: 90.55%;
  left: 5.56%;
  mix-blend-mode: normal;
}
.searchBoxRectangleAndroidIcon {
  position: absolute;
  top: 323px;
  left: 961px;
  border-radius: var(--br-3xs);
  width: 264px;
  height: 40px;
}
.search,
.seeAll,
.seeAll1 {
  position: absolute;
  height: 1.01%;
  width: 3.82%;
  top: 18.63%;
  left: 67.22%;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-family: var(--font-noto-looped-thai);
  text-align: center;
  display: inline-block;
}
.seeAll,
.seeAll1 {
  width: 3.19%;
  top: 21.44%;
  left: 81.46%;
  font-size: var(--font-size-xs);
  color: var(--color-antiquewhite-500);
}
.seeAll1 {
  top: 33.82%;
  left: 81.25%;
}
.circleAroundImageIcon,
.myImageInsideAndroidIcon,
.searchIconInsideAndroidApp {
  position: absolute;
  height: 0.9%;
  width: 1.11%;
  top: 18.85%;
  right: 15.9%;
  bottom: 80.25%;
  left: 82.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.circleAroundImageIcon,
.myImageInsideAndroidIcon {
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.33%;
  left: 8.33%;
}
.myImageInsideAndroidIcon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
.rectangleAroundMyImage {
  position: absolute;
  top: 260px;
  left: 1172px;
  width: 44px;
  height: 44px;
  overflow: hidden;
}
.lineInsideAndroid01 {
  position: absolute;
  top: 465.5px;
  left: 972.5px;
  border-top: 1px solid var(--color-antiquewhite-500);
  box-sizing: border-box;
  width: 241px;
  height: 1px;
}
.androidAppRectangle1,
.androidAppRectangle2 {
  position: absolute;
  top: 409px;
  left: 857px;
  border-radius: var(--br-3xs);
  background: linear-gradient(180deg, #405b57, #204a43);
  box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.1);
  width: 151px;
  height: 114px;
  mix-blend-mode: normal;
}
.androidAppRectangle2 {
  top: 484px;
  left: 1160px;
}
.heartIconRect1 {
  position: absolute;
  height: 0.99%;
  width: 1.39%;
  top: 23.86%;
  right: 30.69%;
  bottom: 75.15%;
  left: 67.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.androidAppRectangle3,
.androidAppRectangle4 {
  position: absolute;
  top: 635px;
  left: 1101px;
  border-radius: var(--br-3xs);
  background: linear-gradient(180deg, #405b57, #204a43);
  box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.1);
  width: 115px;
  height: 88px;
  mix-blend-mode: normal;
}
.androidAppRectangle3 {
  left: 969px;
}
.heartIconRect3,
.heartIconRect4 {
  position: absolute;
  height: 0.62%;
  width: 0.9%;
  top: 36.47%;
  right: 25.63%;
  bottom: 62.92%;
  left: 73.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.heartIconRect4 {
  right: 16.46%;
  left: 82.64%;
}
.androidAppPlantImage01Icon,
.androidAppPlantImage04Icon {
  position: absolute;
  top: 418px;
  left: 901px;
  width: 63px;
  height: 95px;
  object-fit: cover;
}
.androidAppPlantImage04Icon {
  top: 631px;
  left: 1127px;
  mix-blend-mode: normal;
}
.androidAppPlantImage03Icon {
  position: absolute;
  top: 640px;
  left: 1002px;
  width: 50px;
  height: 78px;
  object-fit: cover;
}
.lineInsideAndroid02 {
  position: absolute;
  top: 532px;
  left: 972.5px;
  border-top: 1px solid var(--color-antiquewhite-500);
  box-sizing: border-box;
  width: 241px;
  height: 1px;
}
.heartIconRect2 {
  position: absolute;
  height: 0.99%;
  width: 1.39%;
  top: 27.91%;
  right: 9.93%;
  bottom: 71.09%;
  left: 88.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.androidAppPlantImage02Icon {
  position: absolute;
  top: 484px;
  left: 1197px;
  width: 77.89px;
  height: 95px;
  object-fit: cover;
}
.protectingOurPlantsContainer {
  position: absolute;
  top: 228px;
  left: 77px;
  font-size: 85px;
  line-height: 90px;
  font-family: var(--font-sree-krushnadevaraya);
}
.fittonia,
.pepperFace,
.pepperFace1 {
  position: absolute;
  top: 388px;
  left: 1023px;
  font-size: var(--font-size-mini);
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-markazi-text);
  display: inline-block;
  width: 115px;
}
.fittonia,
.pepperFace1 {
  top: 454px;
  left: 1024px;
}
.fittonia {
  top: 519px;
}
.lightOnWindow,
.pour500Ml,
.pour500Ml1 {
  position: absolute;
  height: 1.01%;
  width: 7.99%;
  top: 24.2%;
  left: 71.04%;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.05em;
  line-height: 30px;
  color: var(--color-antiquewhite-600);
  display: inline-block;
}
.lightOnWindow,
.pour500Ml1 {
  top: 27.91%;
  left: 71.11%;
}
.lightOnWindow {
  top: 31.57%;
}
.checkSymbolInsideAndroidApIcon {
  position: absolute;
  top: 422px;
  left: 1191px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.fittoniaImageInsideAndroidIcon {
  position: absolute;
  top: 549px;
  left: 968px;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.androidAppUserIconLeft {
  position: absolute;
  height: 0.84%;
  width: 1.04%;
  top: 44.74%;
  right: 31.74%;
  bottom: 54.42%;
  left: 67.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.androidAppCenterIcon,
.androidAppHomeIcon,
.androidAppRightIcon,
.downLoogoIcon {
  position: absolute;
  height: 0.85%;
  width: 1.29%;
  top: 44.68%;
  right: 26.35%;
  bottom: 54.47%;
  left: 72.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.androidAppCenterIcon,
.androidAppRightIcon,
.downLoogoIcon {
  height: 0.79%;
  width: 0.97%;
  top: 44.79%;
  right: 20.63%;
  bottom: 54.42%;
  left: 78.4%;
}
.androidAppRightIcon,
.downLoogoIcon {
  height: 0.9%;
  width: 1.11%;
  top: 44.68%;
  right: 15%;
  left: 83.89%;
}
.downLoogoIcon {
  height: 9.36%;
  width: 16.75%;
  top: 64.66%;
  right: 41.65%;
  bottom: 25.98%;
  left: 41.6%;
  mix-blend-mode: normal;
}
.plantu1 {
  font-weight: 800;
}
.checkHowWeContainer,
.weHelpsYou {
  position: absolute;
  display: inline-block;
}
.checkHowWeContainer {
  width: 43.75%;
  top: 67.02%;
  left: 28.13%;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  line-height: 30px;
  text-align: center;
}
.weHelpsYou {
  top: 1071px;
  left: 364px;
  font-size: 51px;
  line-height: 80px;
  font-family: var(--font-sree-krushnadevaraya);
  width: 713px;
}
.loginsignUp {
  position: absolute;
  height: 1.18%;
  width: 9.31%;
  top: 5.57%;
  left: 68.54%;
  font-weight: 800;
  font-family: var(--font-noto-looped-thai);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoTextPlantu {
  position: absolute;
  height: 3.77%;
  width: 16.32%;
  top: 3.71%;
  left: 5.35%;
  font-size: var(--font-size-36xl);
  font-weight: 900;
  font-family: var(--font-museomoderno);
  display: inline-block;
}
.homeScreen {
  position: relative;
  background-color: var(--color-darkslategray-200);
  width: 100%;
  height: 1777px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-antiquewhite-100);
  font-family: var(--font-almarai);
}
